<!DOCTYPE html>


<html>
  <head>
    <title>Eventbite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta property="og:title" content="Project Title" />
    <meta property='og:image' content="<%= image_url('EventBite.png') %>"/>
    <meta property="og:description"
       content="EventBite is a website where vampires (and Florence and the Machine fans) can come together in a community to find events and large gatherings in order to find their next meal. Producers (who are vampires themselves, organizing events pretending to be regular humans) can put together events (music festivals, parades, etc) to dupe humans into gathering together for the benefit of our vampire brethren. Refunds only given if the event ends up taking place in direct sunlight.
            <br><br><br>
            Built using a Rails back end and React-Redux front end."
     />
    <meta property="og:url"
       content="https://eventbite.onrender.com/"
    />
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
